@tailwind base;
@tailwind components;
@tailwind utilities;


/* for the courosel */
.embla {
  overflow: hidden;
  width: 100%;
  padding: 29px;
  background-color: #2c2a26;
}

.embla__container {
  display: flex;
  height: 100%;
  will-change: transform;
}

.embla__slide {
  position: relative;
  flex: 0 0 auto;
  width: calc(33.3333% - 20px); 
  margin-right: 10px;
  box-sizing: border-box;
}

.embla__slide:last-child {
  margin-right: 12px;
}

/* jump up css */
@keyframes jumpUp {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.jump-up {
  animation: jumpUp 0.6s ease-out forwards;
}
